/* SCSS code for Task 3 */
/* Variables used in scss for Task 3 */
/* SCSS lists for colors and radii for rows and circles */
/* Mixin containing media queries */
/* Mixin used to center elements */
/* Header tag with mixin- breakpoint containing pictures */
header {
  background-color: #8ccff7;
  height: 400px;
  width: auto;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  header {
    background-image: url("https://via.placeholder.com/200");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 481px) and (max-width: 800px) {
  header {
    background-image: url("https://via.placeholder.com/300");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 801px) and (max-width: 1500px) {
  header {
    background-image: url("https://via.placeholder.com/400");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* Formatting of rows */
.rows {
  margin-top: 40px;
}

/* Mixin for rows */
.row-format, .row_4, .row_3, .row_2, .row_1 {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Hover can be found under each class for rows */
.row_1 {
  /* nth function used to access the elements from $color list */
  background-color: #4e89ae;
}
.row_1:hover {
  background-color: #444;
}

.row_2 {
  background-color: #43658b;
}
.row_2:hover {
  background-color: #444;
}

.row_3 {
  background-color: #ed6663;
}
.row_3:hover {
  background-color: #444;
}

.row_4 {
  background-color: #ffa372;
}
.row_4:hover {
  background-color: #444;
}

/* Formatting of circles */
.circles {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 10px;
  flex-direction: column;
  /* Breakpoint for circles to change from vertical to inline upon reaching 621px and above */
}
@media screen and (min-width: 621px) and (max-width: 1500px) {
  .circles {
    flex-direction: row;
  }
}

/* Mixin for circles */
.circle-format, .circle_4, .circle_3, .circle_2, .circle_1 {
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  display: flex;
}

/* Hover can be found under each class for circles */
.circle_1 {
  /* nth function used to access the elements from $radii list and $color list */
  /* In circles, the elements from the $radii list have also been called to be used for width and height of the circle.*/
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background-color: #4e89ae;
}
.circle_1:hover {
  background-color: #444;
}

.circle_2 {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: #43658b;
}
.circle_2:hover {
  background-color: #444;
}

.circle_3 {
  width: 90px;
  height: 90px;
  border-radius: 90px;
  background-color: #ed6663;
}
.circle_3:hover {
  background-color: #444;
}

.circle_4 {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #ffa372;
}
.circle_4:hover {
  background-color: #444;
}

/* Formatting of footer */
footer {
  background-color: #8ccff7;
  height: 50px;
}/*# sourceMappingURL=Task 3.css.map */