$bgcolor: #8ccff7;
$hover: #444;

$radii: 70px 80px 90px 100px;
$colors: #4e89ae #43658b #ed6663 #ffa372;

@mixin breakpoint($minwidth, $maxwidth){
    @media screen and (min-width: $minwidth) and (max-width: $maxwidth){
        @content;
    }
}

@mixin center{
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: $bgcolor;
    height: 400px;
    width: auto;
    @include breakpoint(0px, 480px){
        background-image: url("https://via.placeholder.com/200");
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
    }
    @include breakpoint(481px, 800px) {
        background-image: url("https://via.placeholder.com/300");
        height: 300px;
        background-position: center;
        background-repeat: no-repeat;
    }
    @include breakpoint(801px, 1500px) {
        background-image: url("https://via.placeholder.com/400");
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.rows{
    margin-top: 40px;
}

.row-format {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.row_1 {
    @extend .row-format;
    background-color: nth($colors, 1);
    &:hover {
        background-color: $hover;
    }
}

.row_2 {
    @extend .row-format;
    background-color: nth($colors, 2);
    &:hover {
        background-color: $hover;
    }
}

.row_3 {
    @extend .row-format;
    background-color: nth($colors, 3);
    &:hover {
        background-color: $hover;
    }
}

.row_4 {
    @extend .row-format;
    background-color: nth($colors, 4);
    &:hover {
        background-color: $hover;
    }
}

.circles {
    @include center();
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 10px;
    flex-direction: column;
    @include breakpoint(621px, 1500px) {
        flex-direction: row;
    }
}

.circle-format{
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    display: flex;
}

.circle_1 {
    @extend .circle-format;
    width: nth($radii, 1);
    height: nth($radii, 1);
    border-radius: nth($radii, 1);
    background-color: nth($colors, 1);
    &:hover {
        background-color: $hover;
    }
}

.circle_2 {
    @extend .circle-format;
    width: nth($radii, 2);
    height: nth($radii, 2);
    border-radius: nth($radii, 2);
    background-color: nth($colors, 2);
    &:hover {
        background-color: $hover;
    }
}

.circle_3 {
    @extend .circle-format;
    width: nth($radii, 3);
    height: nth($radii, 3);
    border-radius: nth($radii, 3);
    background-color: nth($colors, 3);
    &:hover {
        background-color: $hover;
    }
}

.circle_4 {
    @extend .circle-format;
    width: nth($radii, 4);
    height: nth($radii, 4);
    border-radius: nth($radii, 4);
    background-color: nth($colors, 4);
    &:hover {
        background-color: $hover;
    }
}

footer {
    background-color: $bgcolor;
    height: 50px;
}